# Curso de Manejo de Datos Faltantes: Detecciòn y Exploraciòn

## Configuraciòn de ambiente de trabajo

```bash
pip install --upgrade pip
```

```bash
pip install pyjanior matplotlib missingno numpy pandas pyreadr seaborn session-info upsetplot

or

pip install -r requirements.txt
```

## Importar librerìas

In [2]:
import janitor
import matplotlib.pyplot as plt
import missingno
import numpy as np
import pandas as pd
import pyreadr
import seaborn as sns
import session_info
import upsetplot

## Operar con valores faltantes

### Python

In [11]:
print(
    None or True,
    None or False,
    None == None,
    None is None,
    #None + None,
    #None / None,
    type(None),
    sep="\n",
)

True
False
True
True
<class 'NoneType'>

### NumPy

In [17]:
print(
    np.nan or True,
    np.nan == np.nan,
    np.nan is np.nan,
    np.nan / 2,
    type(np.nan),
    np.isnan(np.nan),
    sep="\n",
)

nan
False
True
nan
<class 'float'>
True

### Pandas

In [20]:
test_missing_df = pd.DataFrame.from_dict(
    data=dict(
        x=[0, 1, np.nan, np.nan, None],
        y=[0, 1, pd.NA, np.nan, None]
    )
)

test_missing_df

     x     y
0  0.0     0
1  1.0     1
2  NaN  <NA>
3  NaN   NaN
4  NaN  None

In [36]:
test_missing_df.isna()

       x      y
0  False  False
1  False  False
2   True   True
3   True   True
4   True   True

In [38]:
test_missing_df.isnull()

       x      y
0  False  False
1  False  False
2   True   True
3   True   True
4   True   True

In [39]:
test_missing_df.x.isnull()

0    False
1    False
2     True
3     True
4     True
Name: x, dtype: bool

In [44]:
pd.Series([1, np.nan])

0    1.0
1    NaN
dtype: float64

In [45]:
pd.Series([pd.to_datetime("2022-01-01"), np.nan])

0   2022-01-01
1          NaT
dtype: datetime64[ns]

In [47]:
pd.Series([-1]).isnull()

0    False
dtype: bool